animations {
    // Enable smooth physics-based movement
    slowdown 3.0

     window-open {
           spring stiffness=1000 damping-ratio=0.7 epsilon=0.0001
     }
     window-close {
           spring stiffness=1000 damping-ratio=0.7 epsilon=0.0001
     }
}
